@model Day8_Sercurity.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProImage)
        </dt>

        <dd>
            <img width="100" height="100" src="@Html.DisplayFor(model => model.ProImage)" alt="Image Not Available" class="img-thumbnail" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InputPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InputPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetailPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetailPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Category_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Category_Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
