@model Day8_Sercurity.Models.OrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Order_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Order_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderDetail_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
