@model IEnumerable<Day8_Sercurity.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Order_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Order_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProImage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderDetail_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderDetail_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderDetail_Id })
        </td>
    </tr>
}

</table>
