@model IEnumerable<Day8_Sercurity.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CusImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmpImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipDate)
        </td>
        <td>
            <img height="50" width="50" src="@Html.DisplayFor(modelItem => item.Customer.CusImage)" alt="Image Not Available" class="img-circle" />
        </td>
        <td>
            <img height="50" width="50" src="@Html.DisplayFor(modelItem => item.Employee.EmpImage)" alt="Image Not Available" class="img-circle" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Order_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Order_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Order_Id })
        </td>
    </tr>
}

</table>
