@model IEnumerable<Day8_Sercurity.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InputPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RetailPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Category_Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img height="100" width="100" src="@Html.DisplayFor(modelItem => item.ProImage)" alt="Image Not Available" class="img-thumbnail" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InputPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RetailPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Category_Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Product_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Product_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Product_Id })
        </td>
    </tr>
}

</table>
